.skill_col,
#cv h2,
p,
#skills h1 {
  padding: 15px 10px;
  color: var(--text);
}

#cv {
  margin-top: 30px;
  background-color: var(--dough);
}

#skills {
  margin: 50px 0;
}

#mit_billede img {
  border-radius: 50%;
  width: 80%;
  padding: 30px 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

main {
  position: relative;
}
.star_1,
.star_2 {
  display: none;
}

#skills {
  background-color: var(--dough);
}

section {
  padding: 30px 0;
  border-bottom: 4px dotted var(--text);
}

#skills :last-child {
  border: none;
}

@media (max-width: 800px) {
  .skill_col {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 3fr;
    justify-content: center;
    align-items: center;
  }

  .tekst {
    grid-column: span 2;
  }
}

.skill_col img {
  width: 50%;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 800px) {
  #mit_billede img {
    margin-left: 0;
    margin-right: 0;
    position: relative;
    top: -33px;
    left: 74px;
  }

  .star_1,
  .star_2 {
    position: relative;
    display: block;
    width: 20%;
    position: absolute;
  }
  .star_1 {
    width: 10%;
    top: 20%;
    left: 9%;
  }
  .star_2 {
    width: 13%;
    top: 9%;
    left: 39%;
  }

  #cv {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
  }

  #tekt_om_mig,
  #billde {
    flex: 1 0 200px;
    padding: 0 30px;
  }

  #skills {
    border-radius: 2px;
    padding: 30px 100px;
  }

  .skill_col {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
  }

  .skill_col h2 {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .icon {
    margin: 10px;
    grid-column: 1/2;
    grid-row: 1/3;
    padding: 10px;
  }
}
