#web_02 {
  background-color: var(--dough);
}

#UX-UI_03 {
  background-color: #d1e09c;
}

#animation_04 {
  background-color: #f3c0c9;
}

#videosite_05 {
  background-color: #8ec1dd;
}

#virksomhedsite_05 {
  background-color: #8ec1dd;
}

section {
  margin-top: 150px;
  padding: 70px 10px;
  color: var(--blue);
}

section p,
section h2,
section h1,
section a {
  color: var(--blue);
}

section a {
  padding: 0 5px;
}

section p {
  padding: 15px 0;
}

section h1 {
  margin: 10px 0;
  text-align: center;
}

section h2 {
  padding: 15px 0;
}

section img {
  padding: 32px 0;
}

.overskrivt {
  padding: 10px 10px;
}

@media (min-width: 800px) {
  section {
    padding: 100px 150px;
  }
}
