body {
  background-image: url(billeder/phone_background.svg);
}

#web_02 {
  background-color: var(--dough);
}

#UX-UI_03 {
  background-color: #d1e09c;
}

#animation_04 {
  background-color: #f3c0c9;
}

#videosite_05 {
  background-color: #8ec1dd;
}

#virksomhedsite_05 {
  background-color: #8ec1dd;
}

section {
  margin-top: 150px;
  padding: 70px 45px;
  color: var(--blue);
}

section p {
  color: var(--blue);
}

section img {
  margin: 32px 0;
}
